html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --size: 100px;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-field {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 4px 4px;
  background-color: white;
}
.cell {
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
}
.svg-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.menu-popup {
  padding-top: calc(50vh - 100px);
  background-color: rgba(0, 0, 0, 0.8);
}
.win-popup {
  background-color: rgba(0, 0, 0, 0.4);
}
.draw-popup {
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-weight: 500;
}
.popup-content p {
  margin: 0 0 15px 0;
}
.popup-content hr {
  margin: 20px 0;
}
.popup-content input {
  display: block;
}
#player1-name {
  margin-bottom: 5px;
}
.win-message {
  text-transform: uppercase;
}

.btns {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #2c2c2c;
  color: #fff;
  margin-top: 15px;
}

.btns:hover,
.btns:focus {
  background-color: #aaa;
  color: #000;
}

input[type="range"] {
  width: 100%;
  margin: 4.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #2c2c2c;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -4.5px;
  width: 27px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2c2c2c;
}
input[type="range"]::-moz-range-track {
  background: #2c2c2c;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 27px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.3px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #2c2c2c;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: #2c2c2c;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  width: 27px;
  height: 17px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2c2c2c;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2c2c2c;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
